/*----------------------------------Generally applicable styles---*/

.underline {
    text-decoration: underline;
}

h1, h4 {
    color: #4a148c;
}

iframe {
    border: solid 2px black;
}

.buttons {
    margin-top: 20px;
}

.divider {
    margin-bottom: 23px;
}

.game-image {
    border: solid 3px black;
    margin: auto;
    margin-top: 15px;
}

.form-container {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: solid 3px black;
}

/*----------------------------------homepage.html---*/

.title-div {
    background-image: url(/static/images/boardgame-stack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.title-row {
    padding-top: 250px;
}

.title-info {
    background-color: rgba(106, 27, 154, 0.8);
}

.title {
    display: block;
    margin-top: 0px;
    width: 100%;
    color: white;
}

.homepage-description {
    font-size: 24px;
}

.slider-button-row {
    padding-bottom: 30px;
}

.carousel-container {
    width: 90%;
}

.game-carousel {
    padding-top: 20px;
}

.carousel-item:hover {
    background-color: #ce93d8 !important;
}

.slick-arrow {
    text-transform: uppercase;
    color: #ff8a65;
    border-radius: 5px;
}

.game-info {
    padding-top: 30px;
}

.game-div:hover {
    background-color: #ce93d8 !important;
}

/*----------------------------------games.html---*/

.game-description {
    font-size: 24px;
}

/*----------------------------------gamereviews.html---*/

.review-div {
    border: solid 3px black;
    background-color: #f3e5f5;
    margin-top: 20px;
    font-size: 20px;
}

.review-button {
    margin-top: 30px;
}

/*----------------------------------Slick Carousel Style---*/

.nextArrowBtn {
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: 0;
    color: #BFAFB2;
}

.prevArrowBtn {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 0;
    color: #BFAFB2;
}



/*----------------------------------Media Queries---*/

@media only screen and (max-width: 600px) {
    .game-image {
        max-width: 200px;
    }

    .brand-logo {
        font-size: 20px !important;
    }

    .title-row {
        padding-top: 150px;
    }
    
    .all-games, .all-reviews {
        margin-top: 10px;
    }

}
