/*----------------------------------Generally applicable styles---*/

.underline {
    text-decoration: underline;
}

h1 {
    color: #ffffff;
}

iframe {
    border: solid 2px black;
}

.title-div {
    background-image: url(/static/images/boardgame-stack.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.slider-button-row {
    padding-top: 30px;
}

.carousel-container {
    width: 90%;
}

.game-carousel {
    padding-top: 20px;
}

.slick-arrow {
    text-transform: uppercase;
    color: #ff8a65;
    border-radius: 5px;
}

.game-image {
    border: solid 3px black;
    margin: auto;
    margin-top: 15px;
}

.review-div {
    border: solid 3px black;
    background-color: #ffccbc;
}

.review-button {
    margin-top: 30px;
}



.divider {
    margin-bottom: 23px;
}

.form-container {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border: solid 3px black;
}

.game-div:hover {
    background-color: #ff5722 !important;
}

/*----------------------------------Slick Carousel Style---*/

.nextArrowBtn {
    position: absolute;
    z-index: 1000;
    top: 50%;
    right: 0;
    color: #BFAFB2;
}

.prevArrowBtn {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 0;
    color: #BFAFB2;
}



/*----------------------------------Media Queries---*/
