{% extends 'base.html'%} {% block content %}
<div class="container form-container">
  <h3>Add Game</h3>
  <div class="row">
    <form action="{{url_for('insert_game')}}" method="POST" class="col s12" enctype="multipart/form-data" onsubmit="return formValidationGame()">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">create</i>
          <input id="game_name" name="game_name" type="text">
          <label for="game_name">Game Name</label>
          <p id="p1"></p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">format_align_justify</i>
          <input id="game_description" name="game_description" type="text" data-length="180"/>
          <label for="game_description">Game Description</label>
          <p id="p2"></p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">work</i>
          <input id="manufacturer" name="manufacturer" type="text">
          <label for="manufacturer">Manufacturer</label>
          <p id="p3"></p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">person</i>
          <input name="number_of_players_min" id="number_of_players_min" type="text">
          <label for="number_of_players_min">Minimum Number of Players</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">group</i>
          <input id="number_of_players_max" name="number_of_players_max" type="text">
          <label for="number_of_players_max">Maximum Number of Players</label>
        </div>
        <p id="p4"></p>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">child_care</i>
          <input id="age_range" name="age_range" type="text">
          <label for="age_range">Minimum Age</label>
          <p id="p5"></p>
        </div>
      </div>
      <div class="row">
        <div class="file-field input-field">
          <div class="btn tooltipped" data-position="top" data-tooltip="If no image is provided, a default image will be used.">
            <i class="material-icons right">add_a_photo</i>
            <span>ADD IMAGE</span>
            <input type="file" name="game_image" id="game_image">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" id="add-game">Add Game
    <i class="material-icons right">send</i>
  </button>
      </div>

    </form>
  </div>
</div>

{% endblock %}
