<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Board Game Library</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_games')}}">All Games</a></li>
                    <li><a href="{{url_for('add_game')}}">Add Game</a></li>
                    <li><a href="{{url_for('add_review')}}">Add Review</a></li>
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_games')}}">All Games</a></li>
                    <li><a href="{{url_for('add_game')}}">Add Game</a></li>
                    <li><a href="{{url_for('add_review')}}">Add Review</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.game-carousel').slick({});

            $('input#game_description').characterCounter();

            $('select').material_select();
            
            $('.button-collapse').sideNav();
            
            $('.materialboxed').materialbox();
            
            $('.tooltipped').tooltip();
            
            function rating_validation()
            {
                if(document.getElementById("rating").value == "")
                {
                    alert("Please select a rating out of 5");
                    return false;
                }
            }
            
            function game_name_validation()
            {
                if(document.getElementById("game_name").value == "")
                {
                    alert("Please select a game");
                    return false;
                }
            }
            
            document.getElementById("add-review").onclick = rating_validation;
            document.getElementById("add-review").onclick = game_name_validation;
            document.getElementById("edit-review").onclick = rating_validation;
            document.getElementById("edit-review").onclick = game_name_validation;

        });
    </script>
</body>

</html>
