<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <script src="https://kit.fontawesome.com/12bb6f902f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <title>Board Game Library</title>
</head>

<body class="purple lighten-4">
    <header>
        <nav class="purple darken-3">
            <div class="nav-wrapper">
                <a href="{{url_for('home')}}" class="brand-logo">Board Game Library</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li><a href="{{url_for('get_games')}}">All Games</a></li>
                    <li><a href="{{url_for('add_game')}}">Add Game</a></li>
                    <li><a href="{{url_for('add_review')}}">Add Review</a></li>
                </ul>

                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                    <li><a href="{{url_for('get_games')}}">All Games</a></li>
                    <li><a href="{{url_for('add_game')}}">Add Game</a></li>
                    <li><a href="{{url_for('add_review')}}">Add Review</a></li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %} {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.game-carousel').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3,
                arrows: false
            });

            $('.game-carousel-mobile').slick();

            $('.prev').click(function() {
                $('.game-carousel').slick('slickPrev');
            });

            $('.next').click(function() {
                $('.game-carousel').slick('slickNext');
            });

            $('input#game_description').characterCounter();

            $('select').material_select();

            $('.button-collapse').sideNav();

            $('.materialboxed').materialbox();

            $('.tooltipped').tooltip();

            $('.modal').modal();

            $('#add-game').click(formValidationGame);

            $('#edit-game').click(formValidationGame);

            $('#add-review').click(formValidationReview);

            $('#edit-review').click(formValidationReview);

            function formValidationGame() {
                let game_name = document.getElementById('game_name');
                let game_description = document.getElementById('game_description');
                let manufacturer = document.getElementById('manufacturer');
                let number_of_players_min = document.getElementById('number_of_players_min');
                let number_of_players_max = document.getElementById('number_of_players_max');
                let age_range = document.getElementById('age_range');

                if (nonEmptyName(game_name, "Please input a Game Name")) {
                    if (nonEmptyDesc(game_description, "Please input a Description")) {
                        if (nonEmptyManufacturer(manufacturer, "Please input a Manufacturer")) {
                            if (numbersOnly(number_of_players_min, "Please input numbers only")) {
                                if (numbersOnly(number_of_players_max, "Please input numbers only")) {
                                    if (numbersOnlyAge(age_range, "Please input numbers only. If the game has no recommended minimum age, please input 0.")) {
                                        return true;
                                    }
                                }
                            }
                        }
                    }
                }
                return false;
            }

            function nonEmptyName(inputtext, alertMsg) {
                if (inputtext.value.length == 0) {
                    document.getElementById('p1').innerText = alertMsg;
                    return false;
                }
                else {
                    return true;
                }
            }

            function nonEmptyDesc(inputtext, alertMsg) {
                if (inputtext.value.length == 0) {
                    document.getElementById('p2').innerText = alertMsg;
                    return false;
                }
                else {
                    return true;
                }
            }

            function nonEmptyManufacturer(inputtext, alertMsg) {
                if (inputtext.value.length == 0) {
                    document.getElementById('p3').innerText = alertMsg;
                    return false;
                }
                else {
                    return true;
                }
            }

            function numbersOnly(inputtext, alertMsg) {
                var numbers = /^[0-9]+$/;
                if (inputtext.value.match(numbers)) {
                    return true;
                }
                else {
                    document.getElementById('p4').innerText = alertMsg;
                    return false;
                }
            }

            function numbersOnlyAge(inputtext, alertMsg) {
                var numbers = /^[0-9]+$/;
                if (inputtext.value.match(numbers)) {
                    return true;
                }
                else {
                    document.getElementById('p5').innerText = alertMsg;
                    return false;
                }

            }


            function formValidationReview() {
                let game_name = document.getElementById('game-name');
                let review = document.getElementById('review');
                let rating = document.getElementById('rating');

                if (selectionGame(game_name, "Please choose a Game")) {
                    if (nonEmptyReview(review, "Please input a Review")) {
                        if (selectionRating(rating, "Please choose a Rating out of 5")) {
                            return true;
                        }
                    }

                }
                return false;
            }

            function selectionGame(inputtext, alertMsg) {
                if (inputtext.value.length == 0) {
                    document.getElementById('p6').innerText = alertMsg;
                    return false;
                }
                else {
                    return true;
                }
            }

            function nonEmptyReview(inputtext, alertMsg) {
                if (inputtext.value == "") {
                    document.getElementById('p7').innerText = alertMsg;
                    return false;
                }
                else {
                    return true;
                }
            }

            function selectionRating(inputtext, alertMsg) {
                if (inputtext.value == "") {
                    document.getElementById('p8').innerText = alertMsg;
                    return false;
                }
                else {
                    return true;
                }
            }


        });
    </script>
</body>

</html>
