{% extends 'base.html' %} {% block content %}
<div class="center game-carousel">

    {% for game in games %}
    <div class="carousel-item red white-text">
        <h1>{{game.game_name}}</h1>
        <ul>
            <li>
                <h5 class="white-text">Manufacturer <i class="material-icons">work</i>: {{game.manufacturer}}</h5>
            </li>
            <li>
                <h5 class="white-text">Number of players <i class="material-icons">group</i>: {{game.number_of_players}}</h5>
            </li>
            <li>
                <h5 class="white-text">Age range <i class="material-icons">child_care</i>: {{game.age_range}}</h5>
            </li>
        </ul>
    </div>
    {% endfor %}

</div>
{% endblock %}
